*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height:100%;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #dddddd;
}
.categories-list,.lang-list,.socials-list{
    list-style-type: none;
}
.categories-list{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    opacity: 0;
    padding-right: 2.5rem;
}
.categories-list__item{
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
    transition: all .4s ease-in-out;
}
.categories-list__link{
    display: block;
    padding: 1rem 0;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.7, 1, 0.7, 1);
}
.categories-list__link::before{
    background: rgba(255, 255, 255, 0);
    content: "";
    height: 1px;
    position: absolute;
    right: -2.5rem;
    top: 50%;
    width: 2.5rem;
    transition: all .3s cubic-bezier(0.7, 1, 0.7, 1);
}
.categories-list__link_active{
    padding-right: 3rem;
}
.categories-list__link_active::before{
    background: #dddddd;
    right: 0;
}
.categories-list__link:hover{
    padding-right: 3rem;
}
.categories-list__link:hover::before{
    background: #dddddd;
    right: 0;
}
.lang-list{
    bottom: 0;
    display: flex;
    left: 0;
    opacity: 0;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
    position: absolute;
}
.lang-list__item{
    padding-right: 1rem;
    opacity: 0;
}
.page-header{
    align-items: center;
    border-bottom: 1px solid #000000;
    display: flex;
    height: 200px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index:11;
}
.page-nav{
    align-items: center;
    background: rgba(35, 35, 35, 0);
    display: flex;
    height:100%;
    justify-content: flex-end;
    position: fixed;
    visibility: hidden;
    width:100%;
    z-index:10;
    transition: all .4s ease-in-out;
}
.page-nav__opened{
    background: rgba(35, 35, 35, .9);
    visibility: visible;
}
.page-nav__opened .categories-list{
    opacity: 1;
}
.page-nav__opened .categories-list__item{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.page-nav.page-nav__opened .lang-list{
    opacity: 1;
}
.page-nav.page-nav__opened .lang-list__item{
    opacity: 1;
}
.page-nav.page-nav__opened .socials-list{
    opacity: 1;
}
.page-nav.page-nav__opened .socials-list__item{
    opacity: 1;
}
.socials-list{
    bottom: 0;
    display: flex;
    opacity: 0;
    padding-bottom: 2rem;
    padding-right: 2.5rem;
    position: absolute;
    right: 0;
}
.socials-list__item{
    padding-left: 1rem;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(1){
    transition: all .4s .2s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(2){
    transition: all .4s .4s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(3){
    transition: all .4s .6s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(4){
    transition: all .4s .8s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(5){
    transition: all .4s 1s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(6){
    transition: all .4s 1.2s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(7){
    transition: all .4s 1.4s ease-out;
}
.page-nav.page-nav__opened .lang-list__item:nth-child(1){
    transition: all .4s .4s ease-out;
}
.page-nav.page-nav__opened .lang-list__item:nth-child(2){
    transition: all .4s .8s ease-out;
}
.page-nav.page-nav__opened .socials-list__item:nth-child(1){
    transition: all .4s .4s ease-out;
}
.page-nav.page-nav__opened .socials-list__item:nth-child(2){
    transition: all .4s .8s ease-out;
}
.page-nav.page-nav__opened .socials-list__item:nth-child(3){
    transition: all .4s 1.2s ease-out;
}
.swiper-container {
    height: 100vh;
    width: 100%;
}
.swiper-slide{
    align-items: center;
    color: #dddddd;
    display: flex;
    justify-content: center;
}
.swiper-slide__slide1{
    background: url('../img/1920x1080/02.jpg');
    background-position: 50% 50%;
}
.swiper-slide__slide2{
    background: url('../img/1920x1080/01.jpg');
    background-position: 50% 50%;
}
.visually-hidden{
    border:0 !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding:0 !important;
    position: absolute !important;
    width: 1px !important; 
}
body:hover .visually-hidden a, body:hover .visually-hidden button, body:hover .visually-hidden input{
    display: none !important;
}