*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height:100%;
    width: 100%;
}
html{
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: #dddddd;
}
.btn-menu{
    background: transparent;
    border: 0;
    display: block;
    height: 50px;
    margin-right: 20px;
    position: relative;
    width: 50px;
}
.btn-menu:hover{
    cursor: pointer;
}
.btn-menu:active .hamburger, .btn-menu:focus .hamburger, .btn-menu:active .hamburger::before, .btn-menu:focus .hamburger::before, .btn-menu:active .hamburger::after, .btn-menu:focus .hamburger::after{
    background: #13b1cd
}
.categories-list,.lang-list,.socials-list{
    list-style-type: none;
}
.categories-list{
    align-items: flex-end;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    opacity: 0;
    padding-right: 2.5rem;
}
.categories-list__item{
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
    transition: all .4s ease-in-out;
}
.categories-list__link{
    display: block;
    padding: 1rem 0;
    overflow: hidden;
    transition: all .3s cubic-bezier(0.7, 1, 0.7, 1);
}
.categories-list__link::before{
    background: rgba(255, 255, 255, 0);
    content: "";
    height: 1px;
    position: absolute;
    right: -2.5rem;
    top: 50%;
    width: 2.5rem;
    transition: all .3s cubic-bezier(0.7, 1, 0.7, 1);
}
.categories-list__link_active{
    padding-right: 3rem;
}
.categories-list__link_active::before{
    background: #dddddd;
    right: 0;
}
.categories-list__link:hover, .categories-list__link:active, .categories-list__link:focus{
    padding-right: 3rem;
}
.categories-list__link:hover::before, .categories-list__link:active::before, .categories-list__link:focus::before{
    background: #dddddd;
    right: 0;
}
.hamburger{
    background: #dddddd;
    bottom: auto;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 2.5rem;
    transition: .5s cubic-bezier(0.7, 1, 0.7, 1);
}
.hamburger::after, .hamburger::before{
    backface-visibility: hidden;
    background: #dddddd;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .5s cubic-bezier(0.7, 1, 0.7, 1);
}
.hamburger::after{
    -webkit-transform: translate3d(-50%, .8rem, 0);
    transform: translate3d(-50%, .8rem, 0);
    transition: .3s cubic-bezier(0.7, 1, 0.7, 1);
}
.hamburger::before{
    -webkit-transform: translate3d(-50%, -.8rem, 0);
    transform: translate3d(-50%, -.8rem, 0);
}
.hamburger-opened.hamburger::before{
    -webkit-transform: translate(-1.3rem, 0) rotate(-90deg);
    transform: translate(-1.3rem, 0) rotate(-90deg);
}
.hamburger-opened.hamburger{
    -webkit-transform: translate(-1.2rem, -.1rem) rotate(45deg);
    transform: translate(-1.2rem, -.1rem) rotate(45deg);
}
.hamburger-opened.hamburger::after {
    visibility: hidden;
    opacity: 0;
}
.hamburger-svg{
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.hamburger-svg__ring{
    transition: all .5s ease-out;
}
.hamburger-svg__ring-filled{
    stroke-dashoffset: 0;
    transition: all .5s ease-out;
}
.hamburger__sticky, .hamburger__sticky.hamburger::before, .hamburger__sticky.hamburger::after{
    background: #000000;
}
.lang-list{
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    left: 0;
    opacity: 0;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    position: absolute;
}
.lang-list__item{
    padding-right: 1rem;
    opacity: 0;
}
.lang-list__link{
    color: #777777;
    display: block;
    font-size: 1.2rem;
    padding: 1rem ;
}
.lang-list__link_active{
    color: #dddddd;
}
.lang-list__link:hover, .lang-list__link:active, .lang-list__link:focus{
    color: #dddddd;
}
.page-header{
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index:11;
    transition: all .3s ease-out;
}
.page-header__sticky{
    background: #ffffff;
    box-shadow: 0 0 1rem rgba(35, 35, 35, .1);
}
.page-logo{
    margin-left: 2rem;
}
.page-nav{
    align-items: center;
    background: rgba(35, 35, 35, 0);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height:100%;
    justify-content: flex-end;
    position: fixed;
    visibility: hidden;
    width:100%;
    z-index:10;
    transition: all .4s ease-in-out;
}
.page-nav__opened{
    background: rgba(35, 35, 35, .95);
    visibility: visible;
}
.page-nav__opened .categories-list{
    opacity: 1;
}
.page-nav__opened .categories-list__item{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page-nav.page-nav__opened .lang-list{
    opacity: 1;
}
.page-nav.page-nav__opened .lang-list__item{
    opacity: 1;
}
.page-nav.page-nav__opened .socials-list{
    opacity: 1;
}
.page-nav.page-nav__opened .socials-list__item{
    opacity: 1;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(1){
    transition: all .4s .2s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(2){
    transition: all .4s .4s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(3){
    transition: all .4s .6s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(4){
    transition: all .4s .8s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(5){
    transition: all .4s 1s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(6){
    transition: all .4s 1.2s ease-out;
}
.page-nav.page-nav__opened .categories-list__item:nth-child(7){
    transition: all .4s 1.4s ease-out;
}
.page-nav.page-nav__opened .lang-list__item:nth-child(1){
    transition: all .4s .4s ease-out;
}
.page-nav.page-nav__opened .lang-list__item:nth-child(2){
    transition: all .4s .8s ease-out;
}
.page-nav.page-nav__opened .socials-list__item:nth-child(1){
    transition: all .4s .4s ease-out;
}
.page-nav.page-nav__opened .socials-list__item:nth-child(2){
    transition: all .4s .8s ease-out;
}
.page-nav.page-nav__opened .socials-list__item:nth-child(3){
    transition: all .4s 1.2s ease-out;
}
.socials-list{
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    opacity: 0;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    position: absolute;
    right: 0;
}
.socials-list__item{
    padding-left: 1rem;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.socials-list__link{
    color: #777777;
    display: block;
    padding: 1rem;
}
.socials-list__link-text{
    font-size: 1.2rem;
    margin-left: .8rem;
}
.socials-list__link:hover, .socials-list__link:active, .socials-list__link:focus{
    color: #dddddd;
}
.swiper-container {
    height: 100vh;
    width: 100%;
}
.swiper-scrollWrap{
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.swiper-scrolldown{
    align-items: center;
    bottom: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .3rem;
    padding: .5rem 1rem;
    position: relative;
    z-index: 11;
}
.swiper-scrolldown:hover .swiper-scrolldown__arrow-down, .swiper-scrolldown:active .swiper-scrolldown__arrow-down, .swiper-scrolldown:focus .swiper-scrolldown__arrow-down{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
.swiper-scrolldown__arrow-down{
    font-size: 3rem;
}
.swiper-slide{
    align-items: center;
    color: #dddddd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.swiper-slide__slide1{
    background: url('../img/1920x1080/02.jpg');
    background-position: 50% 50%;
}
.swiper-slide__slide2{
    background: url('../img/1920x1080/01.jpg');
    background-position: 50% 50%;
}
.swiper-button-prev, .swiper-button-next{
    align-items: center;
    background-image: none;
    border: solid .1rem #dddddd;
    border-radius: 50%;
    color: #dddddd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 3.2rem;
    height: 5rem;
    width: 5rem;
    transition: background-color .3s cubic-bezier(0.7, 1, 0.7, 1);
}
.swiper-button-prev > span, .swiper-button-next > span{
    left: 40%;
    position: relative;
}
.swiper-button-prev > span{
    left: 35%;
}
.swiper-button-prev:hover, .swiper-button-next:hover, .swiper-button-prev:focus, .swiper-button-next:focus, .swiper-button-prev:active, .swiper-button-next:active{
    background-color: #13b1cd;
}
.text-upper{
    text-transform: uppercase;
}
.visually-hidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
body:hover .visually-hidden a, body:hover .visually-hidden button, body:hover .visually-hidden input{
    display: none !important;
}
@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}